<h3>fetch01</h3>

<script>
    function test(){
        //location.href = "/fetch01";
        fetch("/fetch01");
    }
</script>

<h1>월</h1> <h1>화</h1> <h1>수</h1> <h1>목</h1> <h1>금</h1>

<button onclick="test()">클릭</button>